{% extends 'base.html' %}

{% block content %}

<h1>Create Product</h1>

<form action="{% url 'create' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div>
        <h4>Title</h4>
        <input type="text", name="title" />
    </div>
    <div>
        <h4>Body</h4>
        <input type="textbox" name="body" />
    </div>
    <div>
        <h4>URL</h4>
        <input type="text", name="url" />
    </div>
    <div>
        <h4>Icon</h4>
        <input type="file" name="icon" />
    </div>
    <div>
        <h4>Image</h4>
        <input type="file" name="image" />
    </div>
    <br>
    <br>
    <input type="submit" value="Create Product" />
</form>

{% endblock %}